.footer.d-flex.justify-content-between.flex-wrap
  .block.d-flex.flex-column.justify-content-between.order-1
    h3 Competitors
    +user('Brennan_Discord', '3384', '76685590585671680')
    +user('InkSpillerMTG', '8819', '475503977941696522')
    +user('Nearmintgideon', '8445', '756877258781753406')
    +user('NoTime4Inertia', '6407', '139538901500035073')
    +user('AvatarofDiscord', '1715', '697154523348860928')
  .block.d-flex.flex-column.justify-content-between.order-2
    h3 Committee
    +user('Brennan_Discord', '3384', '76685590585671680')
    +user('NoTime4Inertia', '6407', '139538901500035073')
  .block.d-flex.flex-column.justify-content-between.order-3
    h3 Moderators
    +user('Tobiah', '0001', '76685590585671680')
    
  p.align-self-end.order-4 Economander - Economical Commander for all!

  script(src='/js/utils.js' type='text/javascript')
  link(rel='stylesheet', href='~/css/styles.sass')
  link(rel='stylesheet', href='~/css/styles.less')