.footer.d-flex.justify-content-between.flex-wrap
  .block.d-flex.flex-column.justify-content-between.order-1
    h3 Competitors
    +user('AvatarofDiscord', '1715', '697154523348860928')
    +user('BrennanTCG', '3384', '356124444202369027')
    +user('cycloethane', '3057', '137663686528466944')
    +user('NekroZach', '2869', '234376586713890816')
    +user('NoTime4Inertia', '6407', '139538901500035073')
  .block.d-flex.flex-column.justify-content-between.order-2
    h3 Committee
    +user('AvatarofDiscord', '1715', '697154523348860928')
    +user('BrennanTCG', '3384', '356124444202369027')
    +user('NoTime4Inertia', '6407', '139538901500035073')
  .block.d-flex.flex-column.justify-content-between.order-3
    h3 Moderators
    +user('Tobiah', '0001', '76685590585671680')
    
  p.align-self-end.order-4 Economander - Economical Commander for all!

  script(src='/js/utils.js' type='text/javascript')
  link(rel='stylesheet', href='~/css/styles.sass')
  link(rel='stylesheet', href='~/css/styles.less')
