head
  link(rel='stylesheet', href='~/css/styles.sass')
  link(rel='stylesheet', href='~/css/styles.less')

  link(rel='icon', href='~/img/favicon.ico' type='image/x-icon')
  meta(charset='utf-8')
  meta(name='viewport'
    content='width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no')
    
  meta(property="og:title" content="Economander")
  meta(property="og:description" content="Economander is an offshoot of Commander, also called EDH or Elder Dragon Highlander.")
  meta(property="og:url" content="https://economander.ml")
  meta(property="og:image" content="../img/legacy/econoback.png")
    
  meta(name="theme-color" content="#23272A")
  meta(name="description" content="Economander is an offshoot of Commander, also called EDH or Elder Dragon Highlander.")
  meta(name="apple-mobile-web-app-capable" content="yes")
  link(rel="apple-touch-icon" href="../img/logo.webp")
  link(rel="shortcut icon" href="../img/logo.webp")
  
  script(src='/js/utils.js' type='text/javascript')

