- const page = 'decklists'
- const accordion = 'decklist-accordion'
include mixins/user
include mixins/channel
include mixins/game
include mixins/deck

html
  include /partials/head.pug
  head
    title Economander | Decklists
  body
    .container.d-flex.flex-column
      include /partials/header.pug
      .inner.px-0
        .text
          div.accordion.dark(id=`${accordion}`)
            +deck('t5_whyuBS0KGqHE8HrwRCA', 'Basic Birbs', accordion, true)
            
            +deck('TvHrNjSAOUyjebVQEu11kg', 'Goreclaw', accordion)
            
            +deck('cGCbwd5xTUaHo0UTda6KPQ', 'Drana', accordion)
            
            +deck('NPlgamgmpEqdWsz3NvBwhA', 'Spencer: Slimefoot Stomp', accordion)
            
            +deck('5axVRe-S5UuAt0OTWlroFQ', 'Spencer: The Yargler', accordion)
      include /partials/footer.pug