- const page = 'score'
include mixins/user
include mixins/channel
include mixins/game
include mixins/deck

html
  include /partials/head.pug
  head
    title Economander | Score
  body
    .container.d-flex.flex-column
      include /partials/header.pug
      .inner.px-0
        section
          .text.mw-100.px-0
            div.table-responsive-lg
              table.table.table-hover.table-dark.white(style='width: 100%;')
                thead
                  tr
                    th(scope="col") Week
                    th(scope="col") Brennan
                    th(scope="col") Kyle
                    th(scope="col") Les
                    th(scope="col") NekroZach
                tbody
                  tr
                    th(scope="row") 1
                    td.orange +4
                    td.green +5
                    td.red +1
                    td.red +1
                  tr
                    th(scope="row") 2
                    td.green +4
                    td.orange +2
                    td.orange +2
                    td.green +4
                  tr
                    th(scope="row") Total
                    td.green 8
                    td.orange 7
                    td.red 3
                    td.yellow 5
          
      include /partials/footer.pug
