- const page = 'score'
include mixins/user
include mixins/channel
include mixins/game
include mixins/deck

html
  include /partials/head.pug
  head
    title Economander | Score
  body
    .container.d-flex.flex-column
      include /partials/header.pug
      .inner.px-0
        section
          .text.mw-100.px-0
            div.table-responsive-lg
              table.table.table-hover.table-dark.white(style='width: 100%;')
                thead
                  tr
                    th.text-center(scope="col") Week
                    th.text-center(scope="col") Brennan
                    th.text-center(scope="col") Kyle
                    th.text-center(scope="col") Les
                    th.text-center(scope="col") NekroZach
                tbody
                  tr
                    th.text-center(scope="row") 1
                    td.text-center.orange +4
                    td.text-center.green +5
                    td.text-center.red +1
                    td.text-center.red +1
                  tr
                    th.text-center(scope="row") 2
                    td.text-center.green +4
                    td.text-center.orange +2
                    td.text-center.orange +2
                    td.text-center.green +4
                  tr
                    th.text-center(scope="row") 3
                    td.text-center.yellow +2
                    td.text-center.red +1
                    td.text-center.orange +3
                    td.text-center.green +4
                  tr
                    th.text-center(scope="row") 4
                    td.text-center.green +5
                    td.text-center.orange +2
                    td.text-center.orange +2
                    td.text-center.orange +2
                  tr
                    th.text-center(scope="row") Total
                    td.text-center.green 15
                    td.text-center.yellow 10
                    td.text-center.red 8
                    td.text-center.orange 11
          
      include /partials/footer.pug
